*{
    margin: 1%;
    padding: 1%;
}

.cabeçalho{
    background-color:rgba(12, 15, 45, 1);
    color: aliceblue;
}

.informações{
    
}

.rodape{
    background-color: rgba(19, 19, 20, 1);
    color: aliceblue;

}
